<div class="beavers-crafting actor-tab" style="overflow:auto">
    <div class="flexcol" style="min-width:470px;border-left: 1px solid var(--color-border-light-tertiary);border-right: 1px solid var(--color-border-light-tertiary);">
        <div class="flexrow header" style="flex-wrap:nowrap;border-bottom: 1px solid var(--color-border-light-tertiary);">
            <div class="scale">{{localize "beaversCrafting.actorSheet.table.name"}}</div>
            <div class="scale" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{localize "beaversCrafting.actorSheet.table.input"}}</div>
            <div class="scale" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{localize "beaversCrafting.actorSheet.table.output"}}</div>
            <div class="status" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{localize "beaversCrafting.actorSheet.table.status"}}</div>
            <div class="option" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">
                <a class="addCrafting"><i class="fa-solid fa-circle-plus"></i></a>
            </div>
        </div>
    {{#each craftingList}}
        <div class="flexrow" style="flex-wrap:nowrap;border-bottom: 1px solid var(--color-border-light-tertiary);">
            <div class="scale flexcol">
            <div class="flexrow" style="margin:0 5px;padding:1px 0;">
                <div class="crafting-item-img" style="flex:0 0 auto;margin: 0 5px 0 0px;background-image: url('{{this.img}}')"></div>
                <span style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{this.name}}</span>
            </div>
            </div>
            <div class="scale flexcol" style="border-left: 1px solid var(--color-border-light-tertiary);border-right: 1px solid var(--color-border-light-tertiary);">
                {{#with (lookup ../chatList @key) as |chatData|}}
                    {{#each chatData.components}}
                        {{#if (eq type "required")}}
                            <div class="flexrow" style="flex:0;background: rgba(0,0,0,0.025);margin:0 5px;padding:1px 0;">
                                <div class="crafting-item-img" style="flex:0 0 auto;margin: 0 5px 0 0px;background-image: url('{{this.component.img}}')"></div>
                                <span style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{this.component.name}}</span>
                                <div style="flex: 0 0 auto; width:20px; line-height: 20px;text-align: center;">
                                    {{#if this.hasError }}
                                        <i class="fas fa-times" style="color:darkred"></i>
                                    {{else}}
                                        {{#if this.isProcessed }}
                                            {{#if (eq ../status "active") }}
                                                <i class="fas fa-locked" style="color:orange"></i>
                                            {{else}}
                                                <i class="fas fa-check" style="color:darkgreen"></i>
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                    {{#each chatData.components}}
                        {{#if (eq type "consumed")}}
                            <div class="flexrow" style="flex:0;margin:0 5px;padding:1px 0;">
                                <div class="crafting-item-img" style="flex:0 0 auto;margin: 0 5px 0 0px;background-image: url('{{this.component.img}}')"></div>
                                <span style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{this.component.quantity}} {{this.component.name}}</span>
                                <div style="flex: 0 0 auto;width:20px;line-height: 20px;text-align: center;">
                                    {{#if this.hasError }}
                                        <i class="fas fa-times" style="color:darkred"></i>
                                    {{else}}
                                        {{#if this.isProcessed }}
                                            {{#if (eq ../status "active") }}
                                                <i class="fa-regular fa-lock" style="color:orange"></i>
                                            {{else}}
                                                <i class="fas fa-check" style="color:darkgreen"></i>
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/with}}
            </div>
            <div class="scale flexcol">
                {{#with (lookup ../chatList @key) as |chatData|}}
                    {{#each chatData.components}}
                        {{#if (eq type "produced")}}
                            <div class="flexrow" style="flex:0;margin:0 5px;padding:1px 0">
                                <div class="crafting-item-img" style="flex: 0 0 auto;margin: 0 5px 0 0px;background-image: url('{{this.component.img}}')"></div>
                                <span style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;">{{this.component.quantity}} {{this.component.name}}</span>
                                <div style="flex: 0 0 auto;width:20px;line-height: 20px;text-align: center;">
                                    {{#if this.hasError }}
                                        <i class="fas fa-times" style="color:darkred"></i>
                                    {{else}}
                                        {{#if (eq ../status "active") }}
                                            <i class="fa-regular fa-box-open"
                                               style="color:orange;font-size:small"></i>
                                        {{else}}
                                            {{#if this.isProcessed }}
                                                <i class="fas fa-check" style="color:darkgreen"></i>
                                            {{/if}}
                                        {{/if}}
                                    {{/if}}
                                </div>
                            </div>
                        {{/if}}
                    {{/each}}
                {{/with}}
            </div>
            <div class="status flexcol" style="justify-content: center; border-left: 1px solid var(--color-border-light-tertiary);">
            {{#with (lookup ../chatList @key) as |chatData|}}
                <div style="flex:0 0 auto;height: 20px; margin:0 5px;padding:1px 0;">
                    <div style="height: 20px;text-align: center;line-height: 20px;border: 1px solid var(--color-border-light-2);border-radius: 3px;box-shadow: 0 0 2px #fff inset;word-break: break-all;">
                        {{#if (eq this.status "success") }}
                            <div class="error"
                                 style="background-color: darkgreen;margin: 2px;height: 14px;line-height: 14px;color: white;">
                                100%
                            </div>
                        {{else if (eq this.status "error") }}
                            <div class="error"
                                 style="background-color: darkred;margin: 2px;height: 14px;line-height: 14px;color: white;">
                                100%
                            </div>
                        {{else}}
                            0%
                        {{/if}}
                    </div>
                </div>
                {{#if this.skill.total}}
                    <div class="dice-roll"
                         style="flex:0 0 auto; margin:auto;width:60px;padding:5px 0;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;">
                        <div class="dice-total" style="flex: 0 0 60px;line-height: 20px;text-align: center;">
                            {{this.skill.total}}
                            {{#if (eq this.status "success") }}
                                <i class="fas fa-check" style="color:darkgreen"></i>
                            {{else if (eq this.status "error") }}
                                <i class="fas fa-times" style="color:darkred"></i>
                            {{/if}}
                        </div>
                    </div>
                {{/if}}
                {{#if (eq this.status "active") }}
                    <div style="flex:1; text-align: center;padding:5px 0px;">
                        <button class="advanceCrafting" style="width: 60px;height: 26px;line-height: 26px;margin: 1px;padding:0px" data-id="{{@key}}">
                            <i class="fas fa-forward-step" data-id="{{@key}}"></i>
                        </button>
                    </div>
                {{/if}}
            </div>
            {{/with}}
            <div class="option flexcol" style="justify-content:center;text-align:center;padding: 0px 5px;border-left: 1px solid var(--color-border-light-tertiary);">
                <a class="removeCrafting" style="flex:20px 0 0">
                    <i class="fas fa-trash" data-id="{{@key}}"></i>
                </a>
            </div>
        </div>
    {{/each}}
    </div>
</div>