{{#each folders}}
    {{#if (eq @key '')}}
        {{#each this}}
            <div class="recipeItem flexrow {{#if (eq ../../selected this.uuid)}}selected{{/if}}" data-id="{{this.uuid}}">
                                <span style="flex:0" class="flexcol">
                                    <span class="border top"></span>
                                    {{#if @last}}<span></span>{{else}}<span class="border"></span>{{/if}}
                                </span>
                <a class="flexrow">
                    <img src="{{this.img}}" alt="">
                    <span class="name">{{this.name}}</span>
                </a>
            </div>
        {{/each}}
    {{else}}
        <div class="folder open">
            <div class="flexrow folderName">
                 <span style="flex:0" class="flexcol">
                     <span class="border top"></span>
                     {{#if @last}}<span></span>{{else}}<span class="border"></span>{{/if}}
                 </span>
                <a class="flexrow">
                    <i style="flex:0;margin:5px" class="fas fa-folder-open fa-fw"></i>
                    <i style="flex:0;margin:5px" class="fas fa-folder fa-fw"></i>
                    {{@key}}
                </a>
            </div>
            <div class="folderContent">
                {{>beavers-recipe-folders selected=../selected}}
            </div>
        </div>
    {{/if}}
{{/each}}