<div class="flexrow beavers-recipe-test">
{{#if (eq test.type "skill")}}
        {{#each skills}}
            {{#if (eq ../test.uuid this.id)}}
                <div class="flexrow">
                     <span class="name">{{localize "beaversCrafting.recipe.beaversTests.skill"}} {{this.label}}</span>
                </div>
            {{/if}}
        {{/each}}
{{/if}}
{{#if (eq test.type "ability")}}
        {{#each abilities}}
            {{#if (eq ../test.uuid this.id)}}
                <div class="flexrow">
                    <span class="name">{{localize "beaversCrafting.recipe.beaversTests.ability"}} {{this.label}}</span>
                </div>
            {{/if}}
        {{/each}}
{{/if}}
{{#if (eq test.type "tool")}}
        {{#each tools}}
            {{#if (eq ../test.uuid this.uuid)}}
                <div class="flexrow">
                    <img src="{{this.img}}">
                    <span class="name">{{this.name}}</span>
                </div>
            {{/if}}
        {{/each}}
{{/if}}
{{#if (eq test.type "hit")}}
    <div class="flexrow">
        <span class="name">{{test.uuid}}</span>
    </div>
{{else if test.check}}
        <div class="attribute flexrow">
            {{localize "beaversCrafting.recipe.beaversTests.dc"}}:{{test.check}}
        </div>
{{/if}}
</div>
