<div class="beavers-crafting chat flexcol">
    <div class="flexrow header">
        <div class="image" style="background-image: url('{{data.img}}')"></div>
        <div style="flex:1"> {{data.title}}</div>
        <div class="flexrow" style="flex:0 0 60px;height:30px">
            <div class="dice-roll">
                <div class="dice-total flexrow" style="flex:1;padding:2px;margin-top:5px">
                    <span class="total">{{data.skill.total}}</span>
                    {{#if data.success}}
                        <i class="fas fa-check" style="color:#468847"></i>
                    {{else}}
                        <i class="fas fa-times" style="color:#b94a48"></i>
                    {{/if}}
                </div>
            </div>

        </div>

    </div>
    <div class="flexrow">
        <div class="left dnd5e">
            <div class="items-list">
                {{#each data.components}}
                    {{#if (eq type "required")}}
                    <div class="flexrow item" style="background: rgba(0,0,0,0.025)">
                        <div class="item-name flexrow" style="flex:1" title="{{this.component.name}}">
                            <div class="item-image"
                                 style="background-image: url('{{this.component.img}}')"></div>
                            <h4>{{this.component.name}}</h4>
                        </div>
                        <div class="action" style="flex:0 0 10px;padding:0px 5px">
                            {{#if this.hasError }}
                                <i class="fas fa-times"></i>
                            {{else}}
                                <i class="fas fa-check"></i>
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}
                {{/each}}
                {{#each data.components}}
                    {{#if (eq type "consumed")}}
                    <div class="flexrow item">
                        <div class="item-name flexrow" style="flex:1" title="{{this.component.name}}">
                            <div class="item-image"
                                 style="background-image: url('{{this.component.img}}')"></div>
                            <h4>{{this.component.quantity}} {{this.component.name}}</h4>
                        </div>
                        <div class="action" style="flex:0 0 10px;padding:0px 5px">
                            {{#if this.hasError }}
                                <i class="fas fa-times"></i>
                            {{else}}
                                <i class="fas fa-check"></i>
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="right dnd5e">
            <div class="results items-list">
                <div class="title">
                    <div class="name">{{localize "beaversCrafting.recipe.results"}}</div>
                </div>
                {{#each data.components}}
                    {{#if (eq type "produced")}}
                    <div class="flexrow item">
                        <div class="item-name flexrow" style="flex:1" title="{{this.component.name}}">
                            <div class="item-image"
                                 style="background-image: url('{{this.component.img}}')"></div>
                            <h4>{{this.component.quantity}} {{this.component.name}}</h4>
                        </div>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
