<div class="beavers-crafting chat flexcol">
    <div class="flexrow header beavers-line">
        {{>beavers-recipe-component component=data}}
        <div class="attribute flexrow">
            <div class="flexrow beavers-line" style="margin:auto">
                {{#if (not (eq data.status "error"))}}
                    <div class="statusbar success">
                        <div class="fill"
                             style="background: linear-gradient(to right, darkgreen {{data.tests.hitPer}}%, transparent 0);">
                            {{data.tests.hitPer}}%
                        </div>
                    </div>
                {{/if}}
                {{#if (not (eq data.status "success"))}}
                    <div class="statusbar error">
                        <div class="fill"
                             style="background: linear-gradient(to right, darkred {{data.tests.failPer}}%, transparent 0)">
                            {{data.tests.failPer}}%
                        </div>
                    </div>
                {{/if}}
            </div>
            <div class="attribute">
                {{#if (eq data.status "active") }}
                    <i class="fas fa-forward-step" style="width:13px; text-align:center;"></i>
                {{else if (eq data.status "success") }}
                    <i class="fas fa-check" style="width:13px; text-align:center;color:darkgreen"></i>
                {{else if (eq data.status "error") }}
                    <i class="fas fa-times" style="width:13px; text-align:center;color:darkred"></i>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="flexrow beavers-chat-info">
        <div class="left flexcol">
            {{#each data.components.consumed}}
                {{>beavers-recipe-component component=this.component status=this.status }}
            {{/each}}
        </div>
        <div class="right flexcol">
            <div class="results">
                <div class="title">
                    <div class="name">{{localize "beaversCrafting.recipe.results"}}</div>
                </div>
            </div>
            {{#each data.components.produced}}
                    {{>beavers-recipe-component component=this.component status=this.status }}
            {{/each}}
        </div>
    </div>
</div>
