<div class="flexrow recipe">
    <div class="sheet-left">
        <div class="folders flexcol">
            <div class="header" title="{{localize "beaversCrafting.recipe.folderHint"}}">
                {{localize "beaversCrafting.recipe.folder"}}
            </div>
            <div class="section">
                <input {{#unless editable}}disabled{{/unless}} placeholder="folder.subfolder"  type="text" name="flags.beavers-crafting.recipe.folder" value="{{recipe.folder}}" placeholder="" />
            </div>
        </div>
        <div class="instruction flexcol">
            <div class="header">
                {{localize "beaversCrafting.crafting-app.instruction"}}
            </div>
            <div class="section" style="flex:300px">
                <prose-mirror {{#unless editable}}disabled{{/unless}} name="flags.beavers-crafting.recipe.instruction" value="{{recipe.instruction}}"></prose-mirror>
            </div>
        </div>
    </div>
</div>