<div class="sheet flexrow">
    <div class="left">
        {{#if useTool}}
            <div class="tools">
                <div class="flexrow header">
                    <div class="name">{{localize "beaversCrafting.recipe.tools"}}</div>
                    {{#if editable}}
                        <div class="action flexrow">
                            {{#unless recipe.tool}}
                                <a class="item-control item-add">
                                    <i class="fas fa-plus"></i>
                                </a>
                            {{/unless}}
                        </div>
                    {{/if}}
                </div>
                {{#if recipe.tool}}
                    <div class="flexrow item" style="background: rgba(0,0,0,0.025)">
                        <select name="flags.beavers-crafting.recipe.tool"
                                {{#unless editable}}disabled{{/unless}} class="tool-selection">
                            {{#select recipe.tool}}
                                {{#each tools}}
                                    <option value="{{this.uuid}}">
                                        {{this.name}}</option>
                                {{/each}}
                            {{/select}}
                        </select>
                        {{#if result}}
                            <div class="action result flexrow">
                                {{#if precast.tool }}
                                    <i class="fas fa-check"></i>
                                {{else}}
                                    <i class="fas fa-times"></i>
                                {{/if}}
                            </div>
                        {{/if}}
                        {{#if editable}}
                            <div class="action flexrow">
                                <a class="item-delete">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        {{/if}}
                    </div>
                {{/if}}
            </div>
        {{/if}}
        {{#if useAttendants}}
            <div class="attendants items-list">
                <div class="flexrow header">
                    <div class="name">{{localize "beaversCrafting.recipe.attendants"}}</div>
                    {{#if editable}}
                        <div class="action">-</div>
                    {{/if}}
                </div>
                {{#each recipe.attendants}}
                    <div class="flexrow item" style="background: rgba(0,0,0,0.025)">
                        <div class="item-name flexrow {{#if ../displayIngredients}}clickable{{/if}}"
                             data-id="{{this.uuid}}" data-key="{{@key}}">
                            <div class="item-image" style="background-image: url('{{this.img}}')"></div>
                            <span>{{this.name}}</span>
                        </div>
                        <div class="action flexrow">
                            {{#if ../precast}}
                                {{#with (lookup ../precast.attendants @key) as |attendant|}}
                                    {{#if attendant.isAvailable }}
                                        <i class="fas fa-check"></i>
                                    {{else}}
                                        <i class="fas fa-times"></i>
                                    {{/if}}
                                {{/with}}
                            {{/if}}
                        </div>
                        {{#if ../editable}}
                            <div class="action flexrow">
                                <a class="item-delete">
                                    <i class="fas fa-trash" data-id="{{@key}}"></i>
                                </a>
                            </div>
                        {{/if}}
                    </div>
                {{/each}}
                {{#if editable}}
                    <div class="flexrow item">
                        <div class="drop-area">{{localize "beaversCrafting.recipe.dropItem"}}</div>
                    </div>
                {{/if}}
            </div>
        {{/if}}
        <div class="currencies">
            <div class="flexrow header">
                <div class="name">{{localize "beaversCrafting.recipe.currency"}}</div>
                <div class="attribute">{{localize "beaversCrafting.recipe.quantity"}}</div>
                {{#if editable}}
                    <div class="action flexrow">
                        {{#unless recipe.currency}}
                            <a class="item-add">
                                <i class="fas fa-plus"></i>
                            </a>
                        {{/unless}}
                    </div>
                {{/if}}
            </div>
            {{#if recipe.currency}}
                <div class="flexrow item">
                    <select {{#unless editable}}disabled{{/unless}}
                            name="flags.beavers-crafting.recipe.currency.name" class="name">
                        {{#select recipe.currency.name}}
                            {{#each currencies}}
                                <option value="{{this.name}}">{{this.label}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    <input {{#unless editable}}disabled{{/unless}}
                           name="flags.beavers-crafting.recipe.currency.value" class="attribute"
                           type="number"
                           step="any"
                           value="{{recipe.currency.value}}"/>
                    {{#if editable}}
                        <div class="action flexrow">
                            <a class="item-delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    {{/if}}
                </div>
            {{/if}}
        </div>
        <div class="ingredients items-list">
            <div class="flexrow header">
                <div class="name">{{localize "beaversCrafting.recipe.ingredients"}}</div>
                <div class="attribute">{{localize "beaversCrafting.recipe.quantity"}}</div>
                {{#if editable}}
                    <div class="action">-</div>
                {{/if}}
            </div>
            {{#each recipe.ingredients}}
                <div class="flexrow item">
                    <div class="item-name flexrow {{#if ../displayIngredients}}clickable{{/if}}"
                         data-id="{{this.uuid}}" data-key="{{@key}}">
                        <div class="item-image" style="background-image: url('{{this.img}}')"></div>
                        <span>{{this.name}}</span>
                    </div>
                    <div class="attribute flexrow">
                        <input {{#unless ../editable}}disabled{{/unless}}
                               name="flags.beavers-crafting.recipe.ingredients.{{@key}}.quantity"
                               type="number"
                               step="any" value="{{this.quantity}}"/>
                        {{#if ../precast}}
                            {{#with (lookup ../precast.ingredients @key) as |ingredient|}}
                                {{#if ingredient.isAvailable }}
                                    <i class="fas fa-check"></i>
                                {{else}}
                                    <i class="fas fa-times"></i>
                                {{/if}}
                            {{/with}}
                        {{/if}}
                    </div>
                    {{#if ../editable}}
                        <div class="action flexrow">
                            <a class="item-delete">
                                <i class="fas fa-trash" data-id="{{@key}}"></i>
                            </a>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
            {{#if editable}}
                <div class="flexrow item">
                    <div class="drop-area">{{localize "beaversCrafting.recipe.dropItem"}}</div>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="right">
        <div class="skills">
            <div class="flexrow header">
                <div class="name">{{localize "beaversCrafting.recipe.skills"}}</div>
                <div class="attribute">{{localize "beaversCrafting.recipe.dc"}}</div>
                {{#if editable}}
                    <div class="action flexrow">
                        {{#unless recipe.skill}}
                            <a class="item-add">
                                <i class="fas fa-plus"></i>
                            </a>
                        {{/unless}}
                    </div>
                {{/if}}
            </div>
            {{#if recipe.skill}}
                <div class="flexrow item">
                    <select {{#unless editable}}disabled{{/unless}}
                            name="flags.beavers-crafting.recipe.skill.name" class="name">
                        {{#select recipe.skill.name}}
                            {{#each skills}}
                                <option value="{{this.id}}">{{this.label}}</option>
                            {{/each}}
                            <option disabled>── Abilities ──</option>
                            {{#each abilities}}
                                <option value="ability-{{this.id}}">{{this.label}}</option>
                            {{/each}}
                        {{/select}}
                    </select>
                    <div class="attribute flexrow">
                        <input {{#unless editable}}disabled{{/unless}}
                               name="flags.beavers-crafting.recipe.skill.dc" type="number"
                               step="any"
                               value="{{recipe.skill.dc}}"/>
                        <input title="{{localize "beaversCrafting.recipe.consumeOnFailedSaveHint"}}"
                               type="checkbox" {{#unless editable}}disabled{{/unless}}
                            {{#if recipe.skill.consume}}checked{{/if}}
                               name="flags.beavers-crafting.recipe.skill.consume">
                    </div>
                    {{#if editable}}
                        <div class="action flexrow">
                            <a class="item-delete">
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>
                    {{/if}}
                </div>
            {{/if}}
        </div>
        <div class="results items-list">
            <div class="flexrow header">
                <div class="name">{{localize "beaversCrafting.recipe.results"}}</div>
                <div class="attribute">{{localize "beaversCrafting.recipe.quantity"}}</div>
                {{#if editable}}
                    <div class="action">-</div>
                {{/if}}
            </div>
            {{#each recipe.results}}
                <div class="flexrow item">
                    <div class="item-name flexrow {{#if ../displayResults}}clickable{{/if}}"
                         data-id="{{this.uuid}}">
                        <div class="item-image" style="background-image: url('{{this.img}}')"></div>
                        <span>{{this.name}}</span>
                    </div>
                    <input {{#unless ../editable}}disabled{{/unless}}
                           name="flags.beavers-crafting.recipe.results.{{@key}}.quantity" class="attribute"
                           type="number"
                           step="any" value="{{this.quantity}}"/>
                    {{#if ../editable}}
                        <div class="action">
                            <a class="item-control item-delete">
                                <i class="fas fa-trash" data-id="{{@key}}"></i>
                            </a>
                        </div>
                    {{/if}}
                </div>
            {{/each}}
            {{#if editable}}
                <div class="flexrow item">
                    <div class="drop-area">{{localize "beaversCrafting.recipe.dropItem"}}</div>
                </div>
            {{/if}}
        </div>
    </div>
</div>